body {
    margin: 0;
    padding: 0;
    font-family: graphik, regular;
}

/* container start */
.container1 {
    margin: 0%;
    max-width: 100%;
    max-height: 100%;
    padding: 15px 20px;
    background-color: rgb(30, 91, 103);
    display: flex;
    align-items: center;
    position: sticky;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    top: 0;
    z-index: 99;
    border: none;
}

.container1 h1 {
    text-align: left;
    align-items: center;
    margin: 0;
    font-size: 1.4em;
    color: #FFFFFF;
}

/* banner start */
.banner {
    margin-top: 0%;
    padding-top: 0%;
    max-width: 100%;
}

.banner img {
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    height: 400px;
    display: block;
}

/* nav bar start */
.navbar {
    margin: 0;
    background-color: rgb(30, 91, 103);
    color: #ecf0f1;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    position: sticky;
    top: 54px; /* Adjust this value based on the height of the container */
    z-index: 100;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    padding: 10px 10px;
}

.nav-links a {
    color: #ecf0f1;
    background-color: #517222;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
    padding: 10px 10px;
    display: block;
    max-width: none;
}

.nav-links a:hover {
    background-color: #4d3075;
    color: #ecf0f1;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-links a.active {
    background-color: #4d3075;
    border-radius: 5px;
}

/* nav bar end */

.content {
    padding: 20px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    background-color: #ecf0f1;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: 0.4s;
}

/* Learning Course Card Styles */
.course-card {
    margin-top: 20px;
    padding: 0;
    position: relative;
    width: 100%;
    height: 400px;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 -4px 8px rgba(0, 0, 0, 0.2), 4px 0 8px rgba(0, 0, 0, 0.2), -4px 0 8px rgba(0, 0, 0, 0.2);
}

.course-card img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
}

.course-card .text-overlay {
    position: absolute;
    top: 48%;
    left: 5%;
    right: 50%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background-color: #cccccc; /* Semi-transparent background */
    border-radius: 10px;
    text-align: left; /* Left align text */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.course-card .text-overlay h2 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
}

.course-card .text-overlay p {
    color: #282828;
    max-width: 100%;
    margin: 0 0 10px 0;
    font-size: 1em;
}

.course-card .text-overlay .btn {
    background-color: #517222;
    color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.course-card .text-overlay .btn:hover {
    background-color: #4d3075;
    transform: scale(1.1);
}

/* Footer Styling */
footer {
    background-color: #282828; /* Dark background */
    margin-top: 20px; /* Margin at the top */
    width: auto; /* Take full width */
    color: white; /* Text color */
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end; /* Horizontally align items to the right */
    align-items: center; /* Vertically align items */
}

/* Text Styling */
footer p {
    margin: 0;
    font-size: 0.7em;
}

body.nav-active {
    overflow: hidden;
}

/* Media Queries */
@media (max-width: 768px) {

    .navbar {
        position: sticky;
        top: 0;
        height: 50px;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 250px;
        background-color: rgb(30, 91, 103);
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start; /* Align items to the top */
        padding-top: 60px;
        transition: right 0.3s ease-in-out;
        box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
    }

    .nav-links.active {
        right: 0;
        top: 0;
    }

    .nav-links li {
        font-size: 0.9em;
        margin: 0;
        padding: 10px;
    }

    .nav-links a {
        background-color: rgb(30, 91, 103);
        margin: 0;
        padding: 05px;
        width: 100%;
        text-align: left;
    }

    .hamburger {
        padding-left: 10px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    /*course card*/
    .course-card .text-overlay .btn {
        background-color: #517222;
        color: #fff;
        padding: 8px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 0.8em;
        text-overflow: hidden;
        transition: background-color 0.3s ease;
        float: left; /* Keep at left */
    }

    fas fa-external-link-alt {
        margin-left: 5px;
    }
    
    .course-card .text-overlay {
        width: auto;
        height: auto;
        padding: 10px;
    }

    .course-card .text-overlay p{
        margin: 0;
        padding: 05px;
        font-size: 0.9em;
        max-width: 100%;
    }

    .course-card .text-overlay h2 {
        font-size: 1.5em;
    }

.container1 {
    position: relative;
}
}

@media (max-width: 520px) {

    .course-card .text-overlay {
        width: 200px;
        height: auto;
        padding: 10px;
    }
}


/* This is contact card */

.bottomcontact {
    display: flex;
    width: 100%;
    background-color: #517222;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-us {
    margin: 0 auto; /* Center the contact-us section */
    max-width: 80%;
    max-height: 100%;
    padding: 15px 20px;
    text-align: center; /* Center align text */
}

.contact-us a {
    text-decoration: none;
}

.contact-us h1 {
    text-align: left; /* Center align heading */
    margin: 0;
    font-size: 1.5em;
    font-weight: 450;
    color: #FFFFFF;
    padding-left: 50px;
    padding-top: 10px;
}

.contact-container {
    display: flex;
    justify-content: center; /* Center all contact cards */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    align-items: center;
    flex-direction: row;
}

.contact-card {
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    height: 100px;
    width: 30%; /* Adjust width for side-by-side layout */
    margin: 10px; /* Add spacing between cards */
    text-align: left;
}

.contact-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    border: 1px solid  #4d3075;
}

.contact-info p {
    font-size: 0.7em;
    margin: 5px 0;
    color: #FFFFFF;
}

.quick-links{
    background-color: #1e5b67;
    width: 20%;
    padding-left: 20px;
}

.quick-links h1{
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: 450;
    padding-top: 10px;
}

.quick-links p{
    margin-top: 40px;
    color: #FFFFFF;
    font-size: 0.8em;
}

.quick-links a{
    color: #FFFFFF;
    font-size: 1em;
}

.quick-links a:hover{
    color: #97baba;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-card {
        width: 100%; /* Stack cards vertically on smaller screens */
    }
    .contact-us h1 {
        padding: 0;
    }
}